<div class="modal-header">
	<h3 class="modal-title" id="modal-title">Add new chart</h3>
</div>
<div class="modal-body" id="modal-body">
	<label for="select">
		Select sensor
	</label>
	<select name="sensor" id="select" class="form-control" ng-model="addChart.selectedSensor">
		<option ng-repeat="sensor in addChart.sensors" ng-if="!sensor.added" value="{{::sensor.id}}">{{::sensor.name}}</option>
	</select>
</div>
<div class="modal-footer">
	<button class="btn btn-primary pull-left" type="button" ng-click="addChart.add()">Add</button>
	<button class="btn btn-info" type="button" ng-click="addChart.close()">Close</button>
</div>